// Row & Column
.rio-linear-container {
    pointer-events: none;

    @include single-container();

    & > * > * {
        display: flex;
        align-items: stretch;

        // Stretch to fill the parent
        min-width: 100%;
        min-height: 100%;
    }
}

.rio-column > * > * {
    flex-direction: column;
}

// Row & Column with proportions
.rio-row.has-proportions > * {
    // Cut off the spacer element
    overflow-x: hidden;
    width: 100%;
}

.rio-column.has-proportions > * {
    // Cut off the spacer element
    overflow-y: hidden;
    height: 100%;
}
