// Popup Manager (NOT the `rio.Popup` component!)
.rio-popup-manager-shade {
    pointer-events: none;

    background-color: transparent;

    // This duration is also referenced in code!
    transition: background-color 0.5s ease-in-out;

    &.rio-popup-manager-open.rio-popup-manager-modal {
        pointer-events: auto;
        background-color: $modal-shade;
    }

    & > * {
        position: absolute;
    }
}

.rio-popup-manager-animation-scale {
    transform: scale(0);
    opacity: 0;
    transition:
        transform 0.2s linear,
        opacity 0.1s ease-in-out;
}

.rio-popup-manager-open > .rio-popup-manager-animation-scale {
    transform: scale(1);
    opacity: 1;

    transition:
        transform 0.2s $transition-timing-overshoot,
        opacity 0.1s ease-in-out;
}

.rio-popup-manager-animation-slide-from-top {
    transform: translateY(-1rem);
    opacity: 0;

    transition:
        transform 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
}

.rio-popup-manager-open > .rio-popup-manager-animation-slide-from-top {
    transform: translateY(0);
    opacity: 1;
}

.rio-popup-manager-animation-dropdown {
    max-height: 0;
    overflow: hidden;

    border-top-left-radius: var(--rio-global-corner-radius-small);
    border-top-right-radius: var(--rio-global-corner-radius-small);
    border-bottom-right-radius: var(--rio-global-corner-radius-small);
    border-bottom-left-radius: var(--rio-global-corner-radius-small);

    transition: max-height 0.4s ease-in-out;
}

.rio-popup-manager-shade:not(.rio-popup-manager-open)
    > .rio-popup-manager-animation-dropdown {
    max-height: 0 !important;
}
