/// For elements with a single child element. Stretches the child to fill the
/// parent if the parent is larger.
@mixin single-container {
    display: flex;

    & > * {
        flex-grow: 1;
    }
}

.rio-single-container {
    @include single-container();
}

/// For elements with a single child element. Centers the child if the parent is
/// larger.
@mixin center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
