repos:
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.3.5
      hooks:
          - id: ruff
            args: [--select, F401, --fix]
          - id: ruff-format

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v4.0.0-alpha.8
      hooks:
          - id: prettier
            exclude: '\.md$'
