[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
license = "LGPL-3.0" # TODO
name = "rio-ui"
version = "0.5.0"
description = "Build modern Websites and Apps just with Python"
authors = ["Jakob Pinterits <jakob.pinterits@gmail.com>", "Paul Pinterits"]
readme = "README.md"
packages = [{ include = "rio" }]
include = ["rio/generated/index.html"]
keywords = [
    "web-development",
    "web-framework",
    "framework",
    "functional",
    "type-safe",
    "typing",
    "typed",
    "react",
    "web",
    "app",
    "user-interface",
    "web-app",
    "local-app",
    "modern",
    "rio",
]
homepage = "https://rio.dev"
documentation = "https://rio.dev/docs"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Intended Audience :: Financial and Insurance Industry",
    "Intended Audience :: Information Technology",
    "License :: OSI Approved :: GNU Lesser General Public License v3 (LGPLv3)", # TODO
    "Operating System :: OS Independent",
    "Topic :: Internet :: WWW/HTTP :: Dynamic Content",
    "Topic :: Internet :: WWW/HTTP :: WSGI :: Application",
    "Topic :: Software Development :: Libraries :: Python Modules",
]


[tool.poetry.dependencies]
aiofiles = "^23.2.1"
cefpython3 = { version = "^66.1", platform = "windows", optional = true }
fastapi = "^0.109.1"
fuzzywuzzy = "^0.18.0"
gitignore-parser = "^0.1.9"
httpx = "^0.25.1"
imy = "^0.2.1"
introspection = "^1.7.13"
keyring = "^24.3.0"
pillow = "^10.2.0"
platformdirs = { version = "^3.11.0", optional = true }
pygobject = { version = "^3.44.1", platform = "linux", optional = true }
pytest = "^7.3.1"
python = "^3.10"
python-levenshtein = "^0.23.0"
python-multipart = "^0.0.6"
pytz = "^2024.1"
pywebview = { version = "^4.2.2", optional = true }
revel = "0.8.19"
timer-dict = "^1.0.0"
tomlkit = "^0.12.3"
typing-extensions = "^4.5.0"
unicall = "^0.1.5"
uniserde = "^0.3.12"
uvicorn = { extras = ["standard"], version = "^0.23.2" }
watchfiles = "^0.21.0"
yarl = "^1.9.2"

[tool.poetry.extras]
window = ["cefpython3", "platformdirs", "pygobject", "pywebview"]

[tool.poetry.group.dev.dependencies]
alt-pytest-asyncio = "^0.7.2"
black = "^23.1.0"
coverage = "^7.2.2"
isort = "^5.12.0"
pre-commit = "^3.1.1"
pyfakefs = "^5.3.0"
pytest = "^7.3.1"
ipykernel = "^6.25.2"
pyright = "^1.1.350"

[tool.isort]
profile = "black"

[tool.poetry.scripts]
rio = "rio.__main__:main"
