@use "../utils";
.rio-flow-container {
    pointer-events: none;

    @include utils.single-container();

    & > div {
        display: flex;
        flex-wrap: wrap;

        width: min-content;
        min-width: 100%;
    }
}
