// Icon button
.rio-icon-button {
    // Pointer events are only enabled for the circle
    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: center;

    .rio-button {
        // Fill up the parent (helper) element
        @include kill-size-request-with-absolute();

        & > *:not(.rio-ripple-container) {
            // Leave some padding around the icon so it doesn't stick out of the
            // circle
            padding: 15%;
            box-sizing: border-box;
        }
    }
}
