@use "../utils";

// A loading animation inspired by the "skeleton" effect
@mixin loading-animation-shimmer {
    background: linear-gradient(
        90deg,
        var(--rio-local-bg) 25%,
        var(--rio-local-bg-active) 45%,
        var(--rio-local-bg-variant) 60%,
        var(--rio-local-bg) 75%
    );
    background-size: 400%;
    animation: shimmer 1.5s infinite linear;
}
@keyframes shimmer {
    0% {
        background-position-x: 100%;
    }
    100% {
        background-position-x: 0%;
    }
}

.rio-image {
    pointer-events: none;

    @include utils.center-content; // Required for the error icon

    img {
        pointer-events: auto;
        @include utils.kill-size-request-with-absolute();
    }

    &.rio-loading img {
        @include loading-animation-shimmer();
    }

    // Error icon
    svg {
        pointer-events: auto;
        max-width: 3rem;
    }
}
