@use "../utils";

.rio-plot {
    pointer-events: auto;

    // Force the corner radius to be applied to the plot as well
    overflow: hidden;

    @include utils.single-container();
}

.rio-plotly-plot {
    position: relative;

    & > div {
        @include utils.kill-size-request-with-zero-zero();
    }
}

.rio-matplotlib-plot {
    position: relative;

    & > svg {
        @include utils.kill-size-request-with-zero-zero();
    }
}
