// Note: For some reason, cells with multi-line text don't respect
// `justify-content`. `text-align` similarly is not respected by everyone. So we
// have to use both.

.rio-table {
    pointer-events: auto;

    display: grid;

    border-radius: var(--rio-global-corner-radius-medium);

    &[data-scroll-x="auto"] {
        overflow-x: auto;
    }
    &[data-scroll-x="always"] {
        overflow-x: scroll;
    }
    &[data-scroll-x="auto"],
    &[data-scroll-x="always"] {
        width: 7rem;
        min-width: 100%;
    }

    &[data-scroll-y="auto"] {
        overflow-y: auto;
    }
    &[data-scroll-y="always"] {
        overflow-y: scroll;
    }
    &[data-scroll-y="auto"],
    &[data-scroll-y="always"] {
        height: 7rem;
        min-height: 100%;
    }

    // Row Number
    & > .rio-table-row-number {
        position: sticky;
        left: 0;
        z-index: 1;
        background-color: var(--rio-local-bg-variant);

        justify-content: end;
        text-align: end;
    }

    // Headers
    // Note: Headers must come after Row Numbers because the top left cell is
    // both, and this way header styling takes priority
    & > .rio-table-header {
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: var(--rio-local-bg-variant);

        font-weight: bold;
        justify-content: center;
        text-align: center;

        opacity: 1 !important;
    }

    // Regular cell
    & > .rio-table-cell {
        justify-content: end;
        text-align: end;
        background-color: var(--rio-table-background-color);
    }

    // Non-header cells
    & > .rio-table-row-number,
    & > .rio-table-cell {
        border-bottom: 1px solid var(--rio-local-bg-variant);
    }

    // All cells
    & > div {
        display: flex;
        align-items: center;

        padding: 0.5rem;
        transition: background-color 0.1s ease-out;
    }
}
